<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="Browser" value="Chrome" />

		<add key="ShortWait" value="5" />
		<add key="LongWait" value="20" />
		
		<add key="SauceDemoURL" value="https://www.saucedemo.com/" />

		<add key="StandardUser" value="standard_user" />
		<add key="ErrorUser" value="error_user"/>

		<add key="Password" value="secret_sauce" />
	</appSettings>
</configuration>